name: Azure Pipelines
variables:
  python.version: "3.7.9"

stages:
  - stage: SecureFiles
    jobs:
      - job: secure_files
        displayName: Install SSH and get terraform vars
        pool:
          name: Default
        steps:
          - task: DownloadSecureFile@1
            displayName: Download the modified vars file
            inputs:
              secureFile: "terraform.tfvars"
          - task: InstallSSHKey@0
            inputs:
              knownHostsEntry: 'KNOWN_HOSTS_STRING'
              sshKeySecureFile: 'id_rsa'
  - stage: Provision
    jobs:
      - job: copy_terraformvars
        displayName: Copy the terraform vars
        pool:
          name: Default
        steps:
         - task: Bash@3
           displayName: Copy tfvars file
           inputs:
            targetType: 'inline'
            script: |
                echo Copying $(Agent.TempDirectory)/terraform.tfvars to the terraform directory
                cp $(Agent.TempDirectory)/terraform.tfvars $(System.DefaultWorkingDirectory)/terraform/terraform.tfvars
      - job: init
        displayName: Terraform Init
        pool:
          name: Default
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: 'terraform init'
            workingDirectory: 'terraform'
        - task: Bash@3
          inputs:
            filePath: 'terraform/import_resource_group.sh'
            workingDirectory: 'terraform'
        




  - stage: Build
    jobs:
      - job: Build
        pool:
          name: Default
        steps:
          # Needed for Terraform VM deployment
          # - task: InstallSSHKey@0
          #   inputs:
          #     knownHostsEntry: 'KNOWN_HOSTS_STRING'
          #     sshPublicKey: 'PUBLIC_KEY'
          #     sshKeySecureFile: 'id_rsa'
          - task: ArchiveFiles@2
            displayName: "Archive FakeRestAPI"
            inputs:
              rootFolderOrFile: "path/to/fakerestapi"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip"
          - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
            displayName: "Upload Package"
            artifact: drop-fakerestapi
  - stage: FakeRestAPI
    jobs:
      - deployment: FakeRestAPI
        pool:
          vmImage: "Ubuntu-16.04"
        environment: "TEST"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  displayName: "Deploy Azure Web App"
                  inputs:
                    azureSubscription: ""
                    appName: ""
                    appType: webApp
                    package: $(Pipeline.Workspace)/drop-fakerestapi/$(Build.BuildId)-fakerestapi.zip
    # - deployment: VMDeploy
    #   displayName: NAME
    #   environment:
    #     name:  ENVIRONMENT NAME
    #     resourceType: VirtualMachine
    #     tags: TAG NAME
    #   strategy:
    #     runOnce:
    #       deploy:
    #         steps:
    #         - task: Bash@3
    #           inputs:
    #             targetType: 'inline'
    #             script: |
    #               #! /bin/bash

    #               sudo apt-get upgrade -y
    #               sudo apt-get install python3-pip -y
    #               sudo apt-get install unzip -y
    #               sudo apt-get install -y chromium-browser
    #               pip3 install selenium
    #               export PATH=$PATH:some/path
